snippet py3_head
#!/usr/bin/env python3
# -*- coding:utf8 -*-
$0
endsnippet

snippet py_head
#!/usr/bin/env python
# -*- coding:utf8 -*-
$0
endsnippet

snippet def
def ${1:name}(${2:args}):
    """
    ${3:Documentation!}
    """
    $0
endsnippet

snippet class
class ${1:Class name}(${2:object}):
    """
    ${3:Documentation!}
    """
    $0
endsnippet
